.content {
  height: 500px;
  grid-area: c;
  background-color:rgb(197, 192, 192);
}

.item {
  
}

.posts {
  margin-top: 15px;
  margin-left: 20px;
}

.postst_up {
  margin-top: 15px;
  margin-left: 20px;
  line-height: 1.5;
}

.img {
  
  margin-top: 15px;
  margin-left: 20px;
}
