.nav {
  
  line-height: 25px;
  text-align: center;
  grid-area: n;
  background-color: rgb(160, 117, 72);
}

.item a {
  color:white;
  text-decoration: none;
}


.item a.activeLink {
  color: gold;
} 
