.nav {
   
  line-height: 1.5;
  text-align: center;
  grid-area: n;
  background-color:rgba(159, 223, 248, 0.514);
}

.item {
  margin-top: 18px;
  color:black;
}

/* .item.active {
  color: blue;
} */